.btn-saved, .btn-rspn{
    text-decoration: none; 
    color: #EC53B0; 
    border-color: #EC53B0 ;
    border-radius: 10px; 
    font-size: 15px;
}

.btn-saved:hover, .btn-saved:active, .btn-saved:focus, .btn-saved.active{
    background-color: #EC53B0;
    color: #fff;
}

.btn-allrespon{
    color: #EC53B0;
    border-radius: 20px; 
    font-size: 15px;
    margin-left: 55%; 
    margin-top: -50px"
}

.btn-primary {
    color: #fff;
    background-color: #0E21A0 !important;
    border-color: #fff !important;
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh;
    background-color: #0E21A0;
    color: #f8f9fc;
}

.name {
    margin-left: 70px;
    color: #4E31AA;
    margin-top: -50px;
    font-size: 17px;
}

.time {
    margin-left: 70px;
    font-size: 13px;
}

.role {
    color: #27005D;
}

.content {
    color: #858796;
    font-size: 15px;
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

a {
    color: #f8f9fc;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: plum;
}

.nav-fixed .topnav, #accordionSidebar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.topnav {
    padding-left: 0;
    height: 3.625rem;
    z-index: 1039;
    font-size: 0.9rem;
}

/* #accordionSidebar, #content .p-alert {
    padding-top: 3.625rem;
} */

 #content .p-alert{
    padding-left: 15rem;
    padding-top: 5rem;
}

#content .container-fluid{
  padding-left: 15rem;
}


.btn-rspn{
    text-decoration: none; 
    background-color: #9D44C0; 
    color: #fff; 
    border-color:#fff ;
    border-radius: 10px; 
    font-size: 15px;
}

.btn-edit{
    background-color: #4D2DB7;
    color: #f8f9fc;
    border: none;
    border-radius: 17%;
  }
  
.btn-delete{
    background-color: #EA1179;
    color: #f8f9fc;
    border: none;
    border-radius: 17%;
}

.thread-form {
    max-width: 600px;
    margin: 0 auto;
}
  
.thread-form h2 {
    margin-bottom: 10px;
  }
  
  .thread-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .thread-form input,
  .thread-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .thread-form button {
    background-color: #4D2DB7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
  }
  
  .thread-form button:hover {
    background-color: #6354b5;
  }

.forum-post {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
  }
  
  .nav-link.disabled {
    color: #858796;
    pointer-events: none;
    cursor: default;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #dddfeb;
  }
  
  .nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
  }
  
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #eaecf4 #eaecf4 #dddfeb;
  }
  
  .nav-tabs .nav-link.disabled {
    color: #858796;
    background-color: transparent;
    border-color: transparent;
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #6e707e;
    background-color: #fff;
    border-color: #dddfeb #dddfeb #fff;
  }

  .topbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 225px;
    z-index: 1030;
  }
  
  
  
   .card-comment {
       position: relative;
       display: flex;
       padding:20px;
       flex-direction: column;
       min-width: 0;
       word-wrap: break-word;
       background-clip: border-box;
       border: 1px solid #d2d2dc;
       border-radius: 11px;
   }
  
  .media img{
      width: 60px;
      height: 60px;
  }
  
  
  .reply a {
      color: #4E31AA;
      text-decoration: none;
  }

  .image-topuser{
    height :70px; 
  }
  .topic-count{
    margin-left: 90%;
    margin-top: -40px;
  }
  .topuser {
    margin-left: 90px;
    color:#7E6F6F;
    margin-top: -50px;
    font-size: 20px;
  }

  .label-topuser-thread {
    margin-left: 85%;
    margin-top: -10px;
    font-size: 15px;
  }

  .thread-styling {
    margin-top: 55px;
  }

  .form-control, .custom-file-label{
    background-color: #d2d2dc;
  }

  .input-group {
    margin-left: 55%;
  }

  .contact {
    color: #4E31AA;
  }

  .name-contact {
    padding: 20px;
  }

  .image-contact {
    padding: 10px;
    width: 60%;
  }

  .timeline.timeline-xs .timeline-item .timeline-item-marker .timeline-item-marker-text {
    width: 4rem;
    font-size: 0.7rem;
}


.spinner {
   position: relative;
   width: 16px;
   height: 16px;
}

.spinner::before,
.spinner::after {
   content: '';
   width: 100%;
   height: 100%;
   display: block;
   animation: spinner-b4c8mmsm 0.5s backwards, spinner-49opz7sm 1.25s 0.5s infinite ease;
   border: 4px solid #474bff;
   border-radius: 50%;
   box-shadow: 0 -24px 0 -4px #474bff;
   position: absolute;
}

.spinner::after {
   animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmsm {
   from {
      box-shadow: 0 0 0 -4px #474bff;
   }
}

@keyframes spinner-49opz7sm {
   to {
      transform: rotate(360deg);
   }
}

.pw-empty{
  font-size: 85%;
  color: #EA1179;
}

.img-account-profile{
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* styles.css
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}



 */




.thread-list {
  list-style: none;
  padding: 0;
}

.thread-list li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.thread-list h3 {
  margin: 0;
}

.thread-list a {
  text-decoration: none;
  color: #333;
} 

.text-bold {
  text-decoration: solid;
  font-weight: bold;
  color: #27005D;
}

.profile {
  margin: 0 auto;
  padding: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}

.user-details h3 {
  margin: 0;
}

.text-side{
  color: #d2d2dc;
}

.navsearch{
  right: 224px;
}